Checks: 'bugprone-*
         cert-*,
         clang-*,
         cppcoreguidelines-*,
         hicpp-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         -cppcoreguidelines-avoid-magic-numbers,
         -readability-magic-numbers,
         -misc-include-cleaner,
         -modernize-use-trailing-return-type,
         -modernize-pass-by-value'

WarningsAsErrors: '*'
